body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e0e0e0;
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}

header {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 10px;
}

nav ul li {
    margin: 0 15px;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffd700; /* Futuristic yellow color */
    font-weight: bold;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.section h1, .section h2, .section h3 {
    color: #ffd700; /* Futuristic yellow color */
    font-family: 'Orbitron', sans-serif; /* Futuristic font */
}

.section p {
    max-width: 800px;
    margin: 0 auto;
}

.section img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.animated-text {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.logo {
    width: 150px; /* Adjust as needed */
    margin-bottom: 20px;
}

.cyberpsychosis-nav ul {
    list-style: none;
    padding-right: 10;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    gap: 10px;
}

.cyberpsychosis-nav ul li {
    margin: 0 15px;
    display: inline;
    padding-right: 10;
}

.cyberpsychosis-nav ul li a {
    text-decoration: none;
    text-size-adjust: 20;
    color: #ffd700; /* Futuristic yellow color */
    font-weight: bold;
    padding-right: 10;
}

.logo-image {
    width: auto; /* Adjust the percentage to decrease or increase the size of the image */
    height: 1%; /* Maintain aspect ratio */
}

