{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="animated-text">
        <img src="{{ url_for('static', filename='images/nexus.png') }}" alt="NEXUS Logo" class="logo-image">        <h3>NEXUS</h3>
        <p><strong>Cure for Cyberpsychosis:</strong></p><BR><BR><BR>
        <p>The cure for cyberpsychosis involves a combination of advanced neural therapy and cybernetic recalibration. This process aims to restore the delicate balance between the human mind and cybernetic enhancements, mitigating the psychological disturbances caused by excessive augmentation. By realigning the neural pathways and recalibrating the cybernetic interfaces, individuals can regain their mental stability and reconnect with reality.</p><BR><BR>
        <p>Our product <strong>NEXUS</strong> is a chip that is inserted which keeps a track of the brain activity and responses upon it the user can check the chip report from the NEXUS headquarters and also get a checkup</p><BR>
    </div>
</section>
{% endblock %}
