{% extends "base.html" %}

{% block content %}
<section class="section">
    <h1>Welcome to Navi Mumbai 3142</h1>
    <p>The beacon of advanced technology and innovation.</p><BR><BR>
    <p> A Glimpse into Tomorrow: Explore the vibrant cityscape where neon lights dance on towering skyscrapers and digital billboards illuminate the night.</p><BR>
    <p>Technological Marvels: Experience cutting-edge advancements and innovations that define the future of human augmentation and urban living.</p><BR>
       <p>Immerse yourself in a world where technology and humanity intersect, and where one man's quest for justice could change the fate of the city.</p><BR>
</section>
{% endblock %}
